<%# The view that all normal players see during the game%>
<%# Testing game with id: 57fd224005f68aaf34958380%>
<% include game_nav %>
<div class="container">
  <h4 class="text-center"><%=game.name%></h4>
  <h2 class="text-center"><%= game.rounds[game.rounds.length - 1].picker.local.name %> is the Picker</h2>
  <h1 class="text-center gameWord"><%=game.rounds[game.rounds.length - 1].word%></h1>

    <%# To drill into the rounds.pics and get the url. save for later%>
   <%#= game.rounds[game.rounds.length - 1].pics[0].url %>

  <div class="row text-center">

    <% game.users.forEach(function(el){ %>
      <div class="userName" data-id="<%= el._id %>">
      <%picsThisRound.forEach(function(pic){%>
        <%if(el._id.toString() == pic.user.toString()){%>
          <span>Hello</span><br>
        <%}%>
      <%})%>
        <%= el.local.name %>
      </div>
  <% }) %>
  </div>
  <br>



  <%# Start if statement%>

  <% if(String(currentUser._id) == String(picId[0]) ||
        String(currentUser._id) == String(picId[1]) ||
        String(currentUser._id) == String(picId[2]) ||
        String(currentUser._id) == String(picId[3]) ||
        String(currentUser._id) == String(picId[4])
        ){}else {%>
          <%if(game.rounds.length>1){%>
            <% include results %>
          <%}%>
          <div class="text-center">
            <button type="button" id="submit-photo-button" class="btn btn-primary btn-lg text-center" data-toggle="modal" data-target="#photoModal">
              Submit a Photo
            </button>
          </div>

        <% } %>
  <%# end of if statement%>
  <div class="col-md-1">
    <a href="/game/<%=game._id%>/library">
      <img src="/images/library-icon-2.png" class="icon"><br>
    </a>
    <p>Photos</p>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="gridSystemModalLabel">Search</h4>

          <%# Search Section%>

          <div class="dropdown">
            <button class="btn btn-default findImg dropdown-toggle text-center" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Find Image
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li id="google" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown">Google</li>
              <li id="directUrl" class="dropdown-toggle">URL</li>
            </ul>
            <input class="word"type="text" name="name" value=""></input>
            <button class="btn btn-primary btn-sm search">Find</button><br>
          </div>

        </div>
        <div id="gallery" class="modal-body">




          <%# Do we need all these?%>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div id="modalBottom"></div>

<script type="text/javascript">

$.ajax({
  method: 'GET',
  url: '/game/<%= game._id %>/member/<%=currentUser._id%>'
}).done(function(pics){
  console.log(pics)
})

$('#google').on('click', function(){
  var text = $('#google').text()
  $('#dropdownMenu1').text(text)
})

$('#directUrl').on('click', function(){
  var text = $('#directUrl').text()
  $('#dropdownMenu1').text(text)
})

$('.search').on('click', function(){
  $('#gallery').html("")
  var word = $('.word').val();
  var html = "";
  if($('#dropdownMenu1').text()=="Google"){
  $.ajax({
    method: 'GET',
    url: '/google/'+ word
  }).done(function(data){
    $('#gallery').append(data);
  })
} else if ($('#dropdownMenu1').text()=="URL") {
  $('#gallery').append('<div class="text-center"><img class="photo"src="'+word + '"></div>' )
  }
})
/////////////Click photo event////
var selectedPhoto;
$('#gallery').on('click', '.photo', function(){
  selectedPhoto = $(this).attr('src')
  console.log(selectedPhoto)
  var data = {user: '<%=currentUser.id%>', url: selectedPhoto}
  console.log(data);
  $.ajax({
    method: 'PATCH',
    url: '/game/<%= game._id %>/new_photo',
    contentType: 'application/json',
    data: JSON.stringify(data)
  }).done(function(data){
    console.log(data)
    var currentRound = data.rounds[data.rounds.length - 1]
    var lastPic = currentRound.pics[currentRound.pics.length - 1]
    $('.userName[data-id=' + lastPic.user + '] span').addClass('green')
    // to slide modal up out of view
    $('#photoModal').modal('toggle')
    // remove submit button from view
    $('#submit-photo-button').remove()
    // add message to user that the system is waiting for other players to submit pictures
    $('h3').text('Waiting for other players to submit pictures.')


  })
})






</script>
