<%# The view that all normal players see during the game%>
<%# Testing game with id: 57fd224005f68aaf34958380%>
<h1><%=game.name%></h1>
<h2>The current picker is <%= game.rounds[game.rounds.length - 1].picker.local.name %></h2>


  <%# To drill into the rounds.pics and get the url. save for later%>
 <%#= game.rounds[game.rounds.length - 1].pics[0].url %>

<a href="/game/<%=game._id%>/library"><button type="button">Photo Library</button></a>

Players: <% game.users.forEach(function(el){ %>
  <div class="row">
    <div class="userName">
      <%= el.local.name %>
    </div>
  </div>
<% }) %>
<br>


<%# Start if statement%>
Current User id:
<br>
<%= currentUser._id %>
<br>
Pick id's start here:
<br>
<%= picId[0] %>

<% if(String(currentUser._id) == String(picId[0]) ||
      String(currentUser._id) == String(picId[1]) ||
      String(currentUser._id) == String(picId[2]) ||
      String(currentUser._id) == String(picId[3]) ||
      String(currentUser._id) == String(picId[4])
      ){}else {%>
        <%if(game.rounds.length>1){%>
          <% include results %>
        <%}%>
        <button type="button" id="submit-photo-button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#photoModal">
          Submit a Photo
        </button>

      <% } %>
<%# end of if statement%>

<!-- Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Search</h4>

        <%# Search Section%>

        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle text-center" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Find Image
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li id="google" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown">Google</li>
            <li id="directUrl" class="dropdown-toggle">URL</li>
          </ul>
          <input class="word"type="text" name="name" value=""></input>
          <button class="search">Find</button><br>
        </div>

      </div>
      <div id="gallery" class="modal-body">




        <%# Do we need all these?%>

            </div>
          </div>
        </div>
      </div>

<script type="text/javascript">
$('#google').on('click', function(){
  var text = $('#google').text()
  $('#dropdownMenu1').text(text)
})

$('#directUrl').on('click', function(){
  var text = $('#directUrl').text()
  $('#dropdownMenu1').text(text)
})

$('.search').on('click', function(){
      $('#gallery').html("")
      var word = $('.word').val();
      var html = "";
      if($('#dropdownMenu1').text()=="Google"){
      $.ajax({
        method: 'GET',
        url: '/google/'+ word
      }).done(function(data){
        $('#gallery').append(data);
      })
    } else if ($('#dropdownMenu1').text()=="URL") {
      $('#gallery').append('<img src="'+word + '">' )
      }
    })
/////////////Click photo event////
var selectedPhoto;
$('#gallery').on('click', '.photo', function(){
  selectedPhoto = $(this).attr('src')
  console.log(selectedPhoto)
  $('#gallery').append('<button id="submitPhoto">Submit</button>')
})

$('#gallery').on('click', '#submitPhoto', function(){
  var data = {user: '<%=currentUser.id%>', url: selectedPhoto}
  console.log(data);
  $.ajax({
    method: 'PATCH',
    url: '/game/<%= game._id %>/new_photo',
    contentType: 'application/json',
    data: JSON.stringify(data)
  }).done(function(){
    // to slide modal up out of view
    $('#photoModal').modal('toggle')
    // remove submit button from view
    $('#submit-photo-button').remove()
    // add message to user that the system is waiting for other players to submit pictures
    $('h3').text('Waiting for other players to submit pictures.')


  })
})





</script>
