<% include nav %>
<div class="col-sm-6 col-sm-offset-3">
  <% games[games.length - 1].winners.forEach(function(el){ %>
    <%= el.user %>
  <% }) %>

<h1 class="text-center"><%= user.local.name %>'s Games</h1>
<br>
<br>
<%# Start of games list%>

<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <%# start of game info %>
      <% var winners = [] %>
      <% games.forEach(function(el){ %>
        <%= el.winners.users%>
        <% winners.push(el.winners.users)%>


        <li class="list-group-item">
          <span id="remove-game" class="glyphicon glyphicon-remove icon-arrow-right" aria-hidden="true"></span><a href="/game/<%=el._id%>"> <h4><%= el.name %> | Round: <%= el.rounds.length%></h4></a>
          <h5>Last move: <%= el.updatedAt%></h5>
          <hr />
          <p>
          <strong>Players:</strong>
          </p>
          <ul>
          <% el.users.forEach(function(ele){ %>
              <li>
                <%= ele.local.name %> |
                Score:
              </li>
          <% }) %>
          </ul>

        </li>
      <% }) %>
      <%# end of game info %>
    </ul>
  </div>
</div>
<br>
<br>
<div class="text-center">
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Create New Game
  </button>

</div>
  <br>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create New Game</h4>
      </div>
      <div class="modal-body">
        <%# start form%>
        <form action="/games/new" method="post">
        <%# game name text form%>
        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">Game Name</label>
          <div class="col-xs-10">
            <input class="form-control" type="text" name="name" id="game-name">
          </div>
        </div>
      </div>
      <%# user 1 email form%>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">Player 2</label>
        <div class="col-xs-10">
          <input class="form-control" type="text" name="user2email" id="user2email">
        </div>
      </div>
      <%# user 2 email form%>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">Player 3</label>
        <div class="col-xs-10">
          <input class="form-control" type="text" name="user3email" id="user3email">
        </div>
      </div>
      <%# user 3 email form%>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">Player 4</label>
        <div class="col-xs-10">
          <input class="form-control" type="text" name="user4email" id="user4email">
        </div>
      </div>
      <%# user 4 email form%>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">Player 5</label>
        <div class="col-xs-10">
          <input class="form-control" type="text" name="user5email" id="user5email">
        </div>
      </div>
      <%# user 5 email form%>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">Player 6</label>
        <div class="col-xs-10">
          <input class="form-control" type="text" name="user6email" id="user6email">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Create Game</button>
        </form>
      </div>
    </div>
  </div>
</div>
<%# end of modal%>



<script type="text/javascript">

</script>
